<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptp2.hueapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hue_lamp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layout.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".layout.fragment.allLights_fragment" />
        <activity android:name=".layout.adapter.ListAdapter" />
        <activity android:name=".layout.activity.Activity_detailed" />
        <activity android:name=".color_picker" />
        <activity android:name=".layout.fragment.KitchenActivity" />
        <activity android:name=".layout.fragment.LivingRoomActivity" />
        <activity android:name=".layout.fragment.BedroomActivity" />
        <activity android:name=".layout.activity.Activity_settings"></activity>
    </application>

</manifest>